# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'gerrit_gitiles/defaults.yaml' as defaults %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('gerrit_gitiles:lookup',
                                   default=defaults.gerrit_gitiles,
                                   merge=True) %}

{# merge the actual gerrit_gitiles pillar into the above combined dict #}
{% set gerrit_gitiles = salt['pillar.get']('gerrit_gitiles', default=lookup, merge=True) %}

{% macro sls_block(dict) %}
{% for key, value in dict.items() %}
- {{ key }}: {{ value|json() }}
{% endfor %}
{% endmacro %}
